<%- include('./header_i_e.ejs') -%>
    <div class="main box">
        <div class="box">

            <div class="box todos">
                <h2 class="box">待办事项</h2>
                <ul>
                    <%
                        for (var i=0;i<listData.length;i++){
                            var item = listData[i];
                            if(item.finishState ===1){
                    %>

                            <li>
                              &nbsp;<%= item.title %>
                              <a href="/finish/<%= item._id %>/?state=yes">完成</a>,
                              <a href="/edit/<%= item._id %>">修改</a>,
                              <a href="/delete/<%= item._id %>"
                              onclick="return confirm('删除以后不能恢复的，确定？')">删除</a>
                            </li>
                    <%
                            }else{
                    %>
                            <li class="finished">
                                        <del><%= item.title %></del>
                                        &nbsp;
                            <a href="/finish/<%= item._id %>/?state=no">恢复</a>,
                            <a href="/edit/<%= item._id %>">修改</a>,
                            <a href="/delete/<%= item._id %>" onclick="return confirm('删除以后不能恢复的，确定？')">删除</a>
                            </li>
                    <%
                            }
                        }
                    %>


                    <!--

                                        <li>
                                            整理笔记
                                            &nbsp;
                                            <a href="/finish/575721c511b6da2023bea343/?state=yes">完成</a>,
                                            <a href="/edit/575721c511b6da2023bea343">修改</a>,
                                            <a href="/delete/575721c511b6da2023bea343"
                                               onclick="return confirm('删除以后不能恢复的，确定？')">删除</a>
                                        </li>
                                        <li class="finished">
                                            <del>做作业</del>
                                            &nbsp;
                                            <a href="/finish/575721c511b6da2023bea343/?state=no">恢复</a>,
                                            <a href="/edit/575721c511b6da2023bea343">修改</a>,
                                            <a href="/delete/575721c511b6da2023bea343" onclick="return confirm('删除以后不能恢复的，确定？')">删除</a>
                                        </li>
                    -->

                </ul>
            </div>

            <div class="box post">
                <h2>新增</h2>
                <form action="/add_item" method="post" id="post_new">
                    <p><input type="text" name="title" class="long_txt" /></p>
                    <p><input type="submit" class="submit" value="添加" /></p>
                </form>
            </div>

        </div>
    </div>
    <%- include('./footer.ejs') -%>
